<h1><%= @current_user.username %>'s last media location</h1>


<%= @client.user_recent_media.first.location[:latitude] %>
<%= @client.user_recent_media.first.location[:longitude] %>
<%= @client.user_recent_media.first.location[:name] %>
<%= @client.user_recent_media.first[:created_time] %>
<%= @client.user_recent_media.first.location[:id] %>